extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  p
  div.multiBlock
  div.multiBlock
  //div.endがないと改行できない
  div.end

  button#scaling-button 拡大縮小
  br
  button#moving-button 移動
  br
  button#rounding-button 角丸
  br
  p マウスオーバー!
  div#block.block
  div.end
  p 偶数だけ赤くする
  li 1
  li 2
  li 3
  li 4
  li 5
  div.end
  br
  script(src="/javascripts/bundle.js")