extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  div(id="block", class="block")
  button(id="scaling-button") 拡大と縮小
  button(id="moving-button") 左右に移動
  br
  button(id="bolt-button") ウサイン・ボルト選手の速度を体験（１００ｍ：９秒５８）
  button(id="default-button") 初期の位置に戻す
  script(src="/javascripts/bundle.js")