extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
<<<<<<< HEAD:views/index.jade
  div(id="block", class="block")
  button(id="scaling-button") 拡大縮小
  button#moving-button 移動
=======
  div#block.block
  button#scaling-button 拡大縮小
>>>>>>> 86aa58bf91d94056b5a48fe8f6eeb9390dbd9867:views/index.pug
  script(src="/javascripts/bundle.js")