extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  div(id="block", class="block")
  button(id="scaling-button") 拡大縮小
  button(id="moving-button") 左右移動
  button(id="circle-button") 変形
  button(id="transparent-button") 透明化
  script(src="/javascripts/bundle.js")