extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a.logout(href="/logout") Logout
  else
    a.login(href="/login") Login
  div#block.block
  button#scaling-button.scaler 拡大縮小
  button#moving-button.mover 移動
  script(src="/javascripts/bundle.js")