extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  #block.block
    #text1 N
  #block.block
    #text2 予備校
  button#scaling-button 拡大縮小
  //- button#moving-button 移動
  button#moving-button2 移動2
  button#letterChange-button ありがとう
  button#flash-button フラッシュ
  button#flash-button2 点滅2
  button#rotating-button 回転
  h2#root
  script(src="/javascripts/bundle.js")