body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.block {
  float: left;
  width: 100pt;
  height: 100pt;
  margin: 20pt;
  background-color: #6bee2e;
}

.multiBlock {
  float: left;
  width: 100pt;
  height: 100pt;
  margin: 20pt;
  background-color: #045a94;
}

.end {
  clear: both;
}